:root {
  --base: #f2f2;
  --spacing: 10px;
  --blur: 10px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.h1 {
  color: var(--base);
}

body {
  text-align: center;
  background: #f2f2;
  color: white;
  font-family: helvetica;
  font-weight: 100;
  font-size: 23px;
}

.controls {
  margin-bottom: 50px;
}